@model Book.Naergaga.Models.AdminView.IndexViewModel<Book.Naergaga.Models.Entity.Category>
@using Book.Naergaga.Extensions
@{
    ViewBag.Title = "Index";
    var categories = Model.List;
    var option = Model.Option;
}

@section css {
    <link href="~/Content/tablesorter/theme.default.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/tablesorter/jquery.tablesorter.combined.js"></script>
    <script src="~/Scripts/Admin/admin.common.js"></script>
    <script src="~/Scripts/Admin/Categories/index.js"></script>
}

@section body_child {
    <div id="modal"></div>
}

<h2>Index</h2>

<p>
    <a spot="@Url.Action("Create")" class="btnCreateCategory">Create</a>
</p>
<div class="col-sm-6">
    @using (Html.BeginForm("Search", "Categories", FormMethod.Get))
    {
        <div class="input-group">
            <input type="text" class="form-control" name="keyword" />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    }
</div>
@if (categories != null)
{
    <table id="myTable" class="hidden">
        <thead>
            <tr>
                <th>Id</th>
                <th>Catgory</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in categories)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a spot="@Url.Action("Delete",new { id = item.Id })" class="btnDelCategory">Delete</a> |
                    <a spot="@Url.Action("Edit",new { id = item.Id })" class="btnEditCategory">Edit</a> |
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
    @Html.Paging(Model.Option, "Index", "Author")

}