@model Book.Naergaga.Models.AdminView.IndexViewModel<Book.Naergaga.Models.Entity.BookTags>
@using Book.Naergaga.Extensions
@{
    ViewBag.Title = "Index";
    var list = Model.List;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            BookName
        </th>
        <th>
            TagName
        </th>
        <th></th>
    </tr>

@foreach (var item in list) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Book.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tag.Name)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("Delete", "Delete", new { bookId=@item.BookId,tagId=@item.TagId})
        </td>
    </tr>
}

</table>
@Html.Paging(Model.Option, "Index", "Author")