@model Book.Naergaga.Models.AdminView.IndexViewModel<Book.Naergaga.Models.Entity.Tag>
@using Book.Naergaga.Extensions
@{
    ViewBag.Title = "View";
    var tags = Model.List;
    var option = Model.Option;
}

@section css {
    <link href="~/Content/tablesorter/theme.default.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Scripts/tablesorter/jquery.tablesorter.combined.js"></script>
    <script src="~/Scripts/Admin/admin.common.js"></script>
    <script src="~/Scripts/Admin/Tag/index.js"></script>
}

@section body_child {
    <div id="modal"></div>
}

<h2>Tag</h2>

<div>
    <p>
        <a spot="@Url.Action("Create")" class="btnCreateTag">Create</a>
    </p>
    <div class="col-sm-6">
        <form action="/Admin/Tag/Search" method="get">
            <div class="input-group">
                <input type="text" class="form-control" name="keyword" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
    </div>
    @if (tags != null)
    {
        <table id="myTable" class="hidden">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Text</th>
                    <th class="sorter-false"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in tags)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <a spot="@Url.Action("Delete",new { id = item.Id })" class="btnDelTag">Delete</a>
                            <a spot="@Url.Action("Edit",new { id = item.Id })" class="btnEditTag">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Paging(option, "Index", "Tag", Model.RouteData)
    }
    <hr />
</div>
