@using Ninject
@using Book.Naergaga.Service.ModelService.Interface;
@{
    var service = Book.Naergaga.App_Start.NinjectWebCommon.GetKernel().Get<ICategoryService>();
    var categories = service.GetAll();
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Naergaga Book</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", false)
</head>
<body>
    <div class="container">
        <div class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Book.Naergaga", "HomeBook", "Book", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @foreach (var item in categories)
                        {
                            <li>@Html.ActionLink(item.Name, "CategoryBook", "Book", new { categoryId = item.Id }, null)</li>
                        }
                    </ul>
                    @Html.Partial("_searchPartial",new Book.Naergaga.Models.ViewModel.SearchFormViewModel())
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Naergaga Book</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/Admin/admin.common.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
